body {
    background-color:rgb(252, 247, 252);
}

h2 {
    color:rgb(85, 79, 92);
}
p {
    color: rgb(85, 79, 92)
}
.box {
    padding: 50px 50px 70px 50px; 
    margin: 30px 50px;
}
.hlavicka {
    background-position: center;
    background-size: cover;
    color: rgb(85, 79, 92);
    background-repeat: no-repeat;
    background-image: url(pozadi-002.jpg);
}

.paticka {
color: rgb(85, 79, 92);
text-align: center;
padding: 5px 0;
position:relative;
}
.profil{
    border-radius: 0px 30px 0px 30px;
    float: right;
    width:200px; 
    padding-left: 10px;
    background-size:cover;
}
.celasekce{
    text-align:justify;
}
