.nadpis{
    color:azure;
    background-color:rgb(85, 79, 92);
    margin: 0;
    
}
.obrazek {
    background-size:cover;
    float: right;
}
h2 {
    color:rgb(85, 79, 92);
}
p {
    color: rgb(85, 79, 92)
}
.box {
    padding: 50px 50px 70px 50px; 
    margin: 30px 50px;
}
.hlavicka {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: rgb(85, 79, 92);
}
.paticka {
background-color: rgb(85, 79, 92);
color: azure;
text-align: center;
padding:10px 0;
}

   
    